@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans') url(./fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto') url(./fonts/Roboto-Regular.ttf) format('truetype');
}

h1, h3 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.2em;
  margin-block-end: 0;
  margin-block-start: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}