@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans') url(./fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto') url(./fonts/Roboto-Regular.ttf) format('truetype');
}

h1, h3 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.2em;
  margin-block-end: 0;
  margin-block-start: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-group > *:first-child {
  margin-left: 0;
}
.btn-group > *:last-child {
  margin-right: 0;
}
.btn-group > * {
  display: inline-block;
  margin: 0 0.25em;
}
.btn {
  border: 1px solid #ddd;
  border-radius: 4px;
}
.btn.success {
  background-color: #adff2f;
}
.btn.success:hover {
  background-color: #008000;
}
.btn.warn {
  background-color: #ff4500;
}
.btn.warn:hover {
  background-color: #ff0000;
}