.monster-list {
    width: 600px;
    margin: 0 auto;
}


.monster-list .monster:after {
    content: '';
    width: 400px;
    position: absolute;
    background: #ddd;
    height: 2px;
    margin: 20px 100px;
    transform: translateX(-20px);
}

.monster-list .monster:last-child::after {
    content: '';
    background: none;
    margin: 0
}

.monster-list-body {
    min-height: 200px;
}

.empty-list-message {
    text-align: center;
}